/*//////////////////////////////*/
.canvas {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 75px;
  }
  
  /* Estilos para cada seção */
  section {
    text-align: left;
    flex: 1 1 350px;
    min-width: 300px;
    border-radius: 17px;
    padding: 15px;
    margin: 10px;
    background-color:  rgb(248,249,250);
  }
  [data-bs-theme="dark"] section{
    background-color: rgb(43,48,53);
  }
  
  section div{
    border-radius: 17px;
    padding: 10px;
  }
  /* Estilos para os títulos das seções */
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 5px solid;
  }
  
  /* Estilos para os contêineres de itens */
  div[class^="conteiner"] {
    margin-bottom: 10px;
  }
  
  /* Estilos para os itens */
  section div p {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid rgb(129, 129, 129);
    color: #000;
    letter-spacing: 1px;
  }
  [data-bs-theme="dark"] section div p {
   color: #ffffff;
  }
  
