@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  height: auto;
}

.form-check {
  padding-left: 0;
  margin-bottom: 0;
  margin: 0 15px 0 15px;
}

.itensDownload {
  border-radius: 17px;
  padding: 10px;
  align-items: center;
}

#btn-top {
  position: fixed;
  bottom: 85px;
  right: 20px;
  display: none;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  transition: 0.5s ease-in;
  opacity: 0.78;
  z-index: 99;
}

#btn-top:hover {
  background-color: #555;
}

body{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

}

main{
  transition: background-color 0.3s ease;
  background: url('componentes/img/all/bg/imagem-fundo-branco.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

[data-bs-theme="dark"] main{
  transition: background-color 0.3s ease;
  background: url('componentes/img/all/bg/imagem-fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
[data-bs-theme="light"] footer {
  opacity: 1;
  background: rgb(230, 230, 230);
  color: #000;
}

[data-bs-theme="dark"] footer {
  background: rgb(43, 48, 53);
  color: #fff;
}

.text-decoration-none {
  color: #000;
}

[data-bs-theme="light"].text-decoration-none {
  color: #000;
}

[data-bs-theme="dark"] .text-decoration-none {
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-bs-theme="light"] ::-webkit-scrollbar-thumb {
  background: #171717;
}

[data-bs-theme="light"] ::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #6d6d6d;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #171717;
}

#btnSwitch {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: 0.2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#btnSwitch:checked+.toggleSwitch::after {
  transform: translateX(300%);
  transition-duration: 0.2s;
  background-color: white;
}

#btnSwitch:checked+.toggleSwitch {
  background-color: rgb(148, 118, 255);
  transition-duration: 0.2s;
}

@media only screen and (max-width: 992px) {
  #btnTema {
    margin: 15px 0;
  }
}


[data-bs-theme="dark"] footer {
  background: rgb(43, 48, 53);
  color: #fff;
}
footer{
  bottom: 0;
  left: 0;
  width: 100%;
}

/*//////////////////////////////*/


.canvas {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 75px;
  }
  
  /* Estilos para cada seção */
  section {
    flex: 1 1 500px;
    min-width: 300px;
    border-radius: 17px;
    padding: 15px;
    margin: 10px;
    background-color:  rgb(248,249,250);
  }
  [data-bs-theme="dark"] section{
    background-color: rgb(43,48,53);
  }
  
  section div{
    border-radius: 17px;
    padding: 10px;
  }
  /* Estilos para os títulos das seções */
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 5px solid;
  }
  
  /* Estilos para os contêineres de itens */
  div[class^="conteiner"] {
    margin-bottom: 10px;
  }
  
  /* Estilos para os itens */
  section div p {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid rgb(129, 129, 129);
    color: #000;
    letter-spacing: 2px;
  }
  [data-bs-theme="dark"] section div p {
   color: #ffffff;
  }
  
