@charset "utf-8";

@font-face {
  font-family: "Roboto-Regular";
  src: url("/projetoSite/componentes/font/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular";
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

header {
  font-family: "Roboto-Regular";
  font-weight: 700;
  letter-spacing: 1px;
}

.form-check {
  padding-left: 0;
  margin-bottom: 0;
  margin: 0 15px 0 15px;
}

.itensDownload {
  border-radius: 17px;
  padding: 10px;
  align-items: center;
}

#btn-top {
  position: fixed;
  bottom: 85px;
  right: 20px;
  display: none;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  transition: 0.5s ease-in;
  opacity: 0.78;
  z-index: 1001;
}

#btn-top:hover {
  background-color: #555;
 
}
.text-center{
  letter-spacing: 3px;
}

body{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  
}
main{
  transition: background-color 0.3s ease;
  background: url('/projetoSite/componentes/img/all/bg/imagem-fundo-branco.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

[data-bs-theme="dark"] main{
  background: url('/projetoSite/componentes/img/all/bg/imagem-fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[data-bs-theme="light"] footer {
  opacity: 1;
  background: rgb(230, 230, 230);
  color: #000;
}

[data-bs-theme="dark"] footer {
  background: rgb(43, 48, 53);
  color: #fff;
}

.text-decoration-none {
  color: #000;
}

[data-bs-theme="light"].text-decoration-none {
  color: #000;
}

[data-bs-theme="dark"] .text-decoration-none {
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-bs-theme="light"] ::-webkit-scrollbar-thumb {
  background: #171717;
}

[data-bs-theme="light"] ::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #6d6d6d;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #171717;
}

#btnSwitch {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: 0.2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#btnSwitch:checked+.toggleSwitch::after {
  transform: translateX(300%);
  transition-duration: 0.2s;
  background-color: white;
}

#btnSwitch:checked+.toggleSwitch {
  background-color: rgb(148, 118, 255);
  transition-duration: 0.2s;
}

@media only screen and (max-width: 992px) {
  #btnTema {
    margin: 15px 0;
  }
}
.c-item{
  height: 60vh;
}
.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 5px 0px #000000;
  transition: opacity .3s ease;
}
[data-bs-theme="dark"] .carousel-indicators [data-bs-target] { 
      background-color: rgb(0, 0, 0);
      width: 10px;
      height: 10px;
      border-radius: 100%;
      box-shadow: inset 0px 0px 5px 0px #ffffff;

}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: inset 0px 0px 5px 5px #000;
  border-radius: 100%;
}
.carrossel{
  left: 0;
  width: 100vw;
}

footer {
  
  bottom: 0;
  width: 100%;
  background: rgb(230, 230, 230);
  color: #000;
}

[data-bs-theme="dark"] footer {
  background: rgb(43, 48, 53);
  color: #fff;
}

.blur-text {
  color: #000000;
  text-shadow: 0px 0px 10px #FFFFFF;
}

[data-bs-theme="dark"] .blur-text{
  color: #ffffff;
  text-shadow: 0px 0px 6px #000000;
  
}